.nikola {
    padding: 30px;
    background-color: aqua;
}

.ivan {
    margin: 30px;
    border: 30px solid blue;
    padding: 30px;
}

.stefan {
    background-color: red;
}

#dugme {
    color: red;
    background-color: royalblue;
    margin: 30px;
    padding: 30px;
}

.vojin {
    height: 100px;
    width: 100px;
    background-color: skyblue;
    border-radius: 50px;
}